@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #212121;
    --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #212121;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;

    background-image: url("/background-nvim-numbering.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

body::before {
    content: '';
    position: fixed;
    left: 4%;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #3c3c3c;
}

.content {
    margin-left: calc(4% + 1px);
    width: calc(96% - 1px);
}

@media (max-width: 950px) {
    body::before {
        left: 38px;
    }

    .content {
        margin-left: 39px;
        width: calc(100% - 38px);
    }
}

.tracking-in-contract-bck-bottom {
    -webkit-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-9-19 23:26:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-bottom
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}
@keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

