@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #212121;
    --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #212121;
        --foreground: #ededed;
    }
}

@font-face {
    font-family: 'VT323';
    src: url('fonts/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    color: var(--foreground);
    background: var(--background);
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'VT323', monospace;}

.blinking-cursor {
    font-weight: 100;
    font-size: 1.8em;
    color: #00ffb0;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}